.bt{
    border-radius: 3px;
    border-style: solid;
    border-width: 0.02em;
    box-shadow: var(--sombra);
    color: #eee;
    display: inline-block;
    font-family: arial;
    font-weight: 700;
    margin-top: 0.8em;
    padding: 0.78em 1.2em;
}
.bt-green{
    background-color: var(--verde);
    border-color: var(--verde);
}